.gradle
buck-out
*.pyc
input.seer
output.seer
.seertime
.buckd
local.properties
.idea
*.iml
build
out
build-ij
.DS_Store
.crashlytics_data
checkstyle*.xml
com_crashlytics_export_strings.xml
crashlytics-build.properties
.swp
.inferConfig
infer-out
.buckconfig.local
.okbuck
BUCK
*.orig
.phabricator-lint
performance.trace

infer_*.py
tooling/shell/libs/android_screenshot_tests/*.pyc
